@import "../../App.scss";
.your-reminders-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .reminders-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .reminders-list {
    border: none;

    .reminder-item {
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
      }

      .reminder-content {
        width: 100%;
        .reminder-title {
          font-size: 18px;
          color: #333;
        }

        .reminder-description {
          font-size: 14px;
          color: #555;
        }

        .reminder-tags {
          margin-top: 10px;

          .reminder-tag {
            margin-bottom: 5px;
          }
        }

        .reminder-actions-button {
          display: flex;
          justify-content: end;

          .edit-button,
          .delete-button {
            background-color: unset;
            box-shadow: unset;
            border: unset;
            margin-left: 0.5em;
            color: #002242;
            font-size: 0.9em;

            :hover {
              color: darken($primary-color, 10%) !important;
              font-weight: 500;
            }

            :focus-visible {
              outline: unset;
            }
          }

          .save-button,
          .cancel-button {
            background-color: unset;
            color: $accent-color;
            box-shadow: unset;
            border: unset;
            font-size: 0.9em;

            :hover {
              color: darken($primary-color, 10%) !important;
              font-weight: 500;
            }

            :focus-visible {
              outline: unset;
            }
          }
        }
      }
    }
  }
}
