@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#buddyMinderIcon {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

#buddyMinderIcon img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
